#main {
    position: relative;
    margin-top: 0.16rem;
}
#main div {
    height: 0.98rem;
    color: #070707;
    line-height: 0.98rem;
    padding-left: 0.3rem;
    background-color: #fff;
    font-size: 0.28rem;
}
#main div + div {
    margin-top: 0.22rem;
}
#main div input {
    width: 75%;
    padding-left: 0.5rem;
    font-size: 0.28rem;
    line-height: 0.98rem;
    vertical-align: top;
}
#main p {
    position: absolute;
    bottom: -0.46rem;
    left: 0.18rem;
    font-size: 100%;
}
#footer {
    margin-top: 0.8rem;
}