<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>地址管理</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/addressManage.css">
</head>
<body>
<header  id="header"><a href="">返回</a>地址管理</header>
<section id="addr">
    <div v-if="!show" class="noAddr">
        <p>暂无收货地址</p>
        <div><img src="images/add_1.png" alt="">添加收货地址</div>
    </div>
    <div v-if="show" class="addrManage">
        <ul>
            <li>
                <div class="addrManage-user">
                    <p class="addrManage-user-name"><span>李晓先生</span> <span>13254655842</span></p>
                    <p class="addrManage-user-addr">浙江省温州市龙湾区蒲州街道红莲区29号</p>
                </div>
                <div class="addrManage-edit">
                    <div><img src="images/bianji.png" alt="">编辑</div>
                    <div><img src="images/shangchu.png" alt="">删除</div>
                    <div class="addrManage-default current"><i class="current"></i>设置为默认地址</div>
                </div>
            </li>
        </ul>
    </div>
</section>
</body>
<script src="lib/init.js"></script>
<script src="lib/vue.js"></script>
<script src="lib/my.js"></script>
<script src="lib/vueComponent.js"></script>
<script>
    window.addEventListener('load',function () {
        var baseUrl = localStorage.baseUrl;
        var addr = new Vue({
            el: '#addr',
            data: {
                show: false,
            },
            created: function () {
                var self = this;
                $my.ajax({
                    url: baseUrl + '/consignee/loadConsignee.do',
                    data: {
                        token: localStorage.token
                    },
                    method: 'get',
                    success: function (data) {
                        var data = JSON.parse(data);
                        if(data.state){
                            if(data.data.length){
                                self.show = true;
                                console.log(data);
                            }
                        }
                    }
                });
            }
        });
    });
</script>
</html>