<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>查看物流</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/checkTheLogistics.css">
</head>
<body>
<!-- <header id="header"><a class="goBack">返回</a>查看物流</header> -->
<section id="bar">
    <div></div>
</section>
<main id="logistics">
    <div v-if="order" class="logistics-orderInfo">
        <p>订单编号 <span class="num">{{order.tradeId}}</span></p>
        <p>配送公司 <span>{{order.company}}</span></p>
        <p>物流单号 <span class="num">{{order.logisticsId}}</span></p>
        <p>商家备注 <span>{{order.payInfo}}</span></p>
        <!--<div>-->
            <!--配送状态-->
            <!--<p>派件中</p>-->
        <!--</div>-->
    </div>
    <ul v-if="logistics" class="logistics-state">
        <li class="current">
            <p>温州吴桥投递组派件员: 无害发 <span>15858880653</span> 正在为您派件</p>
            <p>2017-10-23 12:12:50</p>
        </li>
        <li>
            <p>温州吴桥投递组派件员: 无害发 <span>15858880653</span> 正在为您派件</p>
            <p>2017-10-23 12:12:50</p>
        </li>
        <li>
            <p>温州吴桥投递组派件员: 无害发 <span>15858880653</span> 正在为您派件</p>
            <p>2017-10-23 12:12:50</p>
        </li>
    </ul>
</main>
<!--<section id="recommend">-->
    <!--<h3>为您推荐</h3>-->
    <!--<ul class="clearfix">-->
        <!--<li>-->
            <!--<img src="images/img3.png" alt="">-->
            <!--<p>高风纯色男/女家居拖鞋高弹EVA底</p>-->
            <!--<p>￥39.9</p>-->
        <!--</li>-->
        <!--<li>-->
            <!--<img src="images/img3.png" alt="">-->
            <!--<p>高风纯色男/女家居拖鞋高弹EVA底</p>-->
            <!--<p>￥39.9</p>-->
        <!--</li>-->
        <!--<li>-->
            <!--<img src="images/img3.png" alt="">-->
            <!--<p>高风纯色男/女家居拖鞋高弹EVA底</p>-->
            <!--<p>￥39.9</p>-->
        <!--</li>-->
        <!--<li>-->
            <!--<img src="images/img3.png" alt="">-->
            <!--<p>高风纯色男/女家居拖鞋高弹EVA底</p>-->
            <!--<p>￥39.9</p>-->
        <!--</li>-->
    <!--</ul>-->
<!--</section>-->
</body>
<script src="lib/init.js"></script>
<script src="lib/vue.js"></script>
<script src="lib/my.js"></script>
<script src="lib/vueComponent.js"></script>
<script>
    window.addEventListener('load',function () {
        var token = localStorage.token,
            baseUrl = localStorage.baseUrl,
            tradeId = Vue.prototype.$getSearch().tradeId
        var logistics = new Vue({
            el: '#logistics',
            data: {
                order: null, //订单信息
                logistics: null, //物流信息
            },
            created: function () {
                var self = this;
                $my.ajax({
                    url: baseUrl + '/order/orderLogistics',
                    data: {
                        token: token,
                        tradeId: tradeId
                    },
                    method: 'get',
                    success: function (data) {
                        var data = JSON.parse(data);
                        if(data.state){
                            console.log(data);
                            self.order = data.data
                        }else {
                            Vue.prototype.$goLogin();
                        }

                    }
                });
            }
        });
    });
</script>
</html>