<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <!-- <header id="header"><a class="goBack">返回</a>登录账号</header> -->
    <section id="login">
        <div class="account">
            <img src="images/dianhua.png" alt="">
            <input v-model="name" placeholder="账号" type="text">
        </div>
        <div class="pwd">
            <img src="images/pwd.png" alt="">
            <input v-model="password" placeholder="密码" type="password">
            <a href="./forgetPwd.html">忘记密码?</a>
        </div>
    </section>
    <footer id="footer">
       <div @click="login">登录</div>
        <a href="./register.html">免费注册</a>
    </footer>
</body>
<script src="lib/init.js"></script>
<script src="lib/vue.js"></script>
<script src="lib/my.js"></script>
<script>
    window.addEventListener('load',function () {
        console.log(1);
         var baseUrl = localStorage.baseUrl;
         var login = new Vue({
             el: '#login',
             data: {
                 name: localStorage.name || '',
                 password: localStorage.password || '',
             }
         });
         var footer = new Vue({
             el: '#footer',
             methods: {
                 login: function () {
                     $my.ajax({
                         url: baseUrl + '/user/login.do',
                         data: {
                             name: login.name,
                             password: login.password
                         },
                         method: 'post',
                         success: function (data) {
                             var data = JSON.parse(data);
                             console.log(data);
                             switch(data.state){
                                 case 1:
                                     localStorage.name = login.name;
                                     localStorage.password = login.password;
                                     localStorage.token = data.data;
                                     localStorage.isRegister = 1;
                                     location.href = localStorage.share2Url;
                                     break;
                                 case 2:
                                     alert('该账号不存在');
                                     break;
                                 case 3:
                                     alert(data.message);
                                     break;
                                 default:
                                     alert('登录失败');
                                     break;
                             }
                         }
                     });
                 }
             }
         })
    });
</script>
</html>