<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的订单</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/myOrder.css">
</head>
<body>
<header id="header"><a class="goBack">返回</a>我的订单</header>
<main v-cloak id="order">
    <div v-show="show" class="bg">暂无订单</div>
    <nav class="nav clearfix">
        <div @click="status = '全部'" :class="{current: status == '全部'}">全部</div>
        <div @click="status = '待发货'" :class="{current: status == '待发货'}">待发货</div>
        <div @click="status = '待收货2'" :class="{current: status == '待收货2'}">待收货</div>
        <div @click="status = '已完成'" :class="{current: status == '已完成'}">已完成</div>
    </nav>
    <ul class="orderList">
        <li v-if="order.goods.status !== '待付款'" v-for="order in orderList">
            <h3><img :src="order.goods.shopimage" alt=""><span>{{order.goods.shopname}}</span><span class="state">{{order.goods.status}}</span></h3>
            <div class="orderContent">
                <a :href="'./orderDetail.html?tradeId='+order.goods.tradeId">
                    <img :src="order.goods.commodity[0].commodityimage" alt="">
                    <div  class="orderContent-desc">
                       <h3>{{order.goods.commodity[0].commodityname}}</h3>
                       <p>{{order.goods.commodity[0].commodityinfo}}</p>
                       <div>￥{{order.goods.commodity[0].commodityprice}}<span>*{{order.goods.commodity[0].commodityNum}}</span></div>
                    </div>
                </a>
                <div class="orderContent-price"><span>合计：￥{{order.goods.totalpay}}</span><span>(含运费￥{{order.goods.commodity[0].freight}})</span></div>
                <div class="orderContent-other">
                    <div v-if="order.goods.status == '已完成' || order.goods.status == '订单取消'" @click="$delete_order(order.goods.status,order.goods.tradeId)">取消订单</div>
                    <div v-if="order.goods.status == '待收货'" @click="$take_delivery(order.goods.tradeId)">确认收货</div>
                    <div v-if="order.goods.status == '待收货' || order.goods.status == '待发货'" class="current"><a :href="'tel:'+order.goods.shoptel">联系商家</a></div>
                </div>
            </div>
        </li>
    </ul>

</main>
</body>
<script src="lib/init.js"></script>
<script src="lib/vue.js"></script>
<script src="lib/my.js"></script>
<script src="lib/vueComponent.js"></script>
<script>
    window.addEventListener('load',function () {
        var baseUrl = localStorage.baseUrl,
            token = localStorage.token;
        var order = new Vue({
            el: '#order',
            data: {
                show: true,
                status: '全部',
                orderList: []
            },
            computed: {
                xhr: function () {
                    var self = this;
                    return {
                        url: baseUrl + '/order/toShowOrder',
                        data: {
                            token: token,
                            status: this.status
                        },
                        method: 'post',
                        success: function (data) {
                            var data = JSON.parse(data);
                            if(data.state){
                                self.orderList = data.data;
                                if(data.data.length){
                                    self.show = false;
                                }else {
                                    self.show = true;
                                }
                            }else {
                                self.$goLogin();
                            }
                        }
                    }
                }
            },
            watch: {
                status: function () {
                    $my.ajax(this.xhr);
                }
            },
            created: function () {
                $my.ajax(this.xhr);
            }
        })
    })
</script>
</html>