<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/register.css">
</head>
<body>
    <header  id="header"><a href="">返回</a>注册</header>
    <section  id="register">
        <h3>地址填写</h3>
        <module-address3 @give_address3="$get_address3($event,'userData')"></module-address3>
        <div><input v-model="userData.fourAddress" type="text" placeholder="请输入详细地址"></div>
        <div><input v-model="userData.referrerName" type="text" placeholder="请输入邀请码(可不填)"></div>
        <div><input v-model="userData.name" type="text" placeholder="请输入手机号"></div>
        <div><input v-model="userVcode" type="text" style="width: 3.6rem;" placeholder="输入校验码"><module-vcode @give_vcode="$get_vcode($event)" :width="'2.55rem'" :height="'0.82rem'"></module-vcode></div>
        <div><input v-model="userData.code" type="text" style="width: 4.6rem;" placeholder="短信验证码"><div @click="sendSMS" class="send-code" :class="classObj">{{txt}}</div></div>
        <div><input v-model="userData.password" type="text" placeholder="设置密码    6-20位字母、数字组合"></div>
        <a class="exitAccount" href="./login.html">已有账号?</a>
        <div @click="register" class="register">
            <div>注册</div>
        </div>
    </section>

</body>

<script src="lib/init.js"></script>
<script src="lib/vue.js"></script>
<script src="lib/my.js"></script>
<script src="lib/vueComponent.js"></script>
<script src="js/register.js"></script>
</html>