<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/share2.css">
    <title>利万嘉商品分享页面</title>
</head>
<body>
    <header v-cloak id="header">
        <public-carousel :imgs="imgs"></public-carousel>
    </header>
    <section v-cloak id="commodity">
        <div>
            <div class="title clearfix"><h3>{{goodsDetails.goodsName}}</h3><div class="enterShop">进入店铺</div></div>
            <div class="style"><p>{{goodsDetails.goodsDescribe}}</p></div>
            <div class="price"><strong>￥{{goodsDetails.nowPrice}}</strong><s>￥{{goodsDetails.commodityPrice}}</s><span v-if="goodsDetails.goodsExpressType" class="sendNow">支持立马送</span><span class="grade">{{goodsDetails.grade+"分"}}</span></div>
            <div class="dispatching"><span>包邮: 0.00</span><span>销售量:{{goodsDetails.salesVolume }}</span><span>{{goodsDetails.address}}</span></div>
        </div>
        <ul class="service clearfix">
            <li v-for="item in goodsDetails.label"><i></i>{{item}}</li>
        </ul>
        <div class="info">
            <div @click="cutTab($event)" class="tab">
                <div :class="{current: !type}">商品描述</div>
                <div @click.once="initEvaluation" :class="{current: type}">商品评价</div>
            </div>
            <div>
                <div v-show="!type" class="desc">
                    <img v-for="img in goodsDetails.detailsImg" :src="img" alt="商品描述">
                </div>
                <div v-show="type" class="evaluation">
                    <h3>用户评价<span>{{limit}}</span></h3>
                    <ul  class="filter clearfix">
                        <li @click="changeLabel(index)"  v-for="(item,index) in label" :class="{current: index == label_index}">{{item}}</li>
                    </ul>
                    <div v-for="user in comment"  class="content clearfix">
                        <div class="user">
                            <img class="head" :src="user.headImg" alt="">
                            <p class="name">{{user.userNick}}</p>
                            <div class="star">
                                <i v-for="n in user.commentGrade"></i>
                            </div>
                            <p class="time">{{user.commentTime}}</p>
                        </div>
                        <div class="comment">
                            <p class="user-reply">{{user.commentContent}}</p>
                            <p class="pic">
                                <img v-for="img in user.imgs" :src="img" alt="">
                            </p>
                            <div v-if="user.replyInfo" class="Shops-reply">
                                <p class="Shops-reply-time">商家回复 <span>{{user.replyTime}}</span></p>
                                <p class="Shops-reply-content">{{user.replyInfo}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section v-cloak id="same">
        <h3><span>同城商品</span></h3>
        <ul class="clearfix">
            <li v-for="item in localGoods">
                <img :src="item.goodsIndexImg" alt="">
                <p>{{item.goodsDescribe}}</p>
                <div v-if="item.nowPrice || item.commodityPrice"><strong>￥{{item.nowPrice}}</strong><s>{{item.commodityPrice}}</s><img src="images/add.png" alt=""></div>
            </li>
        </ul>
    </section>
    <section id="selectSize" v-if="show">
        <div>
            <div class="selectSize-title">
                <img :src="commodity.image_url" alt="商品图片">
                <h3><span>￥{{commodity.nowPrice}}</span><img @click="show=false" src="images/delete.png"></h3>
                <p>库存{{commodity.stock}}件</p>
            </div>
            <ul class="selectSize-content">
                <li v-for="(label,index) in commodity.lable">
                    <h3>{{label.title}}</h3>
                    <div>
                        <span @click="selectLabel(label.title,type,index)" :class="{current: label.title === labelArr[index].title && type === labelArr[index].type}" v-for="type in label.type">{{type}}</span>
                    </div>
                </li>
            </ul>
            <div class="selectSize-count">
                数量
                <div><span><img @click="num = --num < 0 ? 0 : num" class="selectSize-count-delete" src="images/delete_1.png" alt=""></span><span><input type="text" v-model="num"></span><span><img class="selectSize-count-add" @click="num++" src="images/add_1.png" alt=""></span></div>
            </div>
            <div @click="buyNow" class="selectSize-buy">确定</div>
        </div>
    </section>
    <footer id="footer" class="clearfix">
        <ul class="other">
            <li @click="handleEvent('个人中心')">
                <img src="images/personal.png" alt="">
                <p>个人中心</p>
            </li>
            <li @click="handleEvent('我的订单')">
                <img src="images/order.png" alt="">
                <p>我的订单</p>
            </li>
            <li @click="download" >
                <img src="images/download.png" alt="">
                <p>下载app</p>
            </li>
        </ul>
        <div @click="handleEvent('立即购买')" class="buyNow">立即购买</div>
    </footer>
</body>
<script src="lib/init.js"></script>
<script src="lib/vue.js"></script>
<script src="lib/vueComponent.js"></script>
<script src="lib/my.js"></script>
<script src="js/share2.js"></script>
</html>